.search-input {
  width: 540px;
}
.app-search-engine {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.logo {
  height: 181px;
  img {
    width: 270px;
    height: 129px;
  }
}
